!!! XML
!!!
%html
  %head
    %link(rel='stylesheet' type='text/css' href='/css/main.css')
    %meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    %title Cisco ACL Analyzer Web
  %body
    :ruby
      def search_opts_includes?(value_key)
        defined?(@search_opts) && @search_opts.key?(value_key)
      end
    :ruby
      def text_input_opts(name, size, placeholder)
        input_opts = {}
        input_opts[:type] = 'text'
        input_opts[:name] = name 
        input_opts[:size] = size
        input_opts[:placeholder] = placeholder
        value_key = name.intern
        if search_opts_includes?(value_key) && @search_opts[value_key] != 'any'
          input_opts[:value] = @search_opts[value_key]
        end
        input_opts
      end
    :ruby
      def radio_input_opts(name, value)
        input_opts = {}
        input_opts[:type] = 'radio'
        input_opts[:name] = name
        input_opts[:value] = value
        value_key = name.intern
        if search_opts_includes?(value_key) && @search_opts[value_key] == value ||
             value == 'any' || value == 'ip'
          input_opts[:checked] = 'checked'
        end
        input_opts
      end
    :ruby
      def proto_select_opts(value)
        input_opts = { value: value }
        if defined?(@search_opts) && @search_opts[:protocol] == value
          input_opts[:selected] = 'selected'
        end
        input_opts
      end
      
    #body_top
      %h1
        %a(href='/')Cisco ACL Web
      %ul
        %li
          %a(href='https://github.com/stereocat/cisco_acl_web')Source code
          is on github
    #body_base
      %h2 Input ACL
      %form(action='/analyze' method='post' charser='utf-8')
        #acl_textarea
          %textarea(name='acls' placeholder='Input ACL')
            :preserve
              #{@raw_acls}
        #acl_match_conditions
          %p
            The view point of this ACL search is like that: If there
            is a flow which is specified by below search condition,
            then what entries contains (matches) the flow? Highlighted
            entries are the entry that permits (or denies) the flow
            you specified.
            %ul
              %li
                In below conditions, If a textbox keep empty, it
                assumed 'any'.  (It can use token 'any' explicitly.)
              %li
                With Standard ACL, it is used to match source
                conditions.  When it specifies only destination
                conditions(specify 'source=ANY'), it matches all
                ACEs.
          %table#searchform
            %tr
              %td.desc
                Protocol:
              %td
                %input{radio_input_opts('protocol', 'ip')} IP
                %input{radio_input_opts('protocol', 'icmp')} ICMP
                %input{radio_input_opts('protocol', 'tcp')} TCP
                %input{radio_input_opts('protocol', 'udp')} UDP
                %input{radio_input_opts('protocol', 'user')} Protocol No./Name
                %input{text_input_opts('proto_id', 10, 'e.g. esp, 50')}
            %tr
              %td.desc
                Source IP:
              %td
                %input{text_input_opts('src_ip', 20, 'e.g. 192.168.0.0/24')}
            %tr
              %td.desc
                Source Port Operator
              %td
                %input{radio_input_opts('src_operator', 'any')} Any
                %input{radio_input_opts('src_operator', 'strict_any')} Strict Any
                %input{radio_input_opts('src_operator', 'eq')} Equal
                %input{radio_input_opts('src_operator', 'neq')} Not-Equal
                %input{radio_input_opts('src_operator', 'lt')} Lower-than
                %input{radio_input_opts('src_operator', 'gt')} Greater-than
                %input{radio_input_opts('src_operator', 'range')} Range
                %br
                (Begin) Port :
                %input{text_input_opts('src_begin_port', 10, 'e.g. 22')}
                End Port :
                %input{text_input_opts('src_end_port', 10, 'e.g. www')}
            %tr
              %td.desc
                Destination IP:
              %td
                %input{text_input_opts('dst_ip', 20, 'e.g. 192.168.0.0/24')}
            %tr
              %td.desc
                Destination  Port Operator
              %td
                %input{radio_input_opts('dst_operator', 'any')} Any
                %input{radio_input_opts('dst_operator', 'strict_any')} Strict Any
                %input{radio_input_opts('dst_operator', 'eq')} Equal
                %input{radio_input_opts('dst_operator', 'neq')} Not-Equal
                %input{radio_input_opts('dst_operator', 'lt')} Lower-than
                %input{radio_input_opts('dst_operator', 'gt')} Greater-than
                %input{radio_input_opts('dst_operator', 'range')} Range
                %br
                (Begin) Port :
                %input{text_input_opts('dst_begin_port', 10, 'e.g. 22')}
                End Port :
                %input{text_input_opts('dst_end_port', 10, 'e.g. www')}
        #acl_exec_analyze
          %input(type='submit' value='Analyze & search')
            
    #body_results
      - if defined?(@error_list) && !@error_list.empty?
        %h2 Errors in ACL
        #acl_error
          - @error_list.each do |each|
            %ul
              %li= each
      - if defined?(@acl_table)
        %h2 Parser Result
        - @acl_table.each do |name, acl|
          %h3= "ACL Name: #{name}"
          .acls
            %table.acls
              - if acl.named_acl?
                %tr
                  - count_init = 1
                  %td.count= count_init
                  %td.ace
                    %pre= acl.header_string
              - else
                - count_init = 0
              - errlist = []
              - acl.each_with_index do |ace, count|
                - begin
                  - matched = ace.contains?(@search_opts)
                - rescue => err
                  - errlist.push [err, '[', ace.to_s, ']'].join(' ')
                %tr
                  - classstr = matched ? 'count_matched' : 'count'
                  %td(class='#{classstr}')= count + 1 + count_init
                  %td.ace
                    %pre= acl.line_string(ace).gsub(/^\s+/,'&nbsp;')
            - unless errlist.empty?
              .search_condition_error
                - errlist.each do |each|
                  %ul
                    %li= each
      - else
        %h2 ACL Sample
        #acl_sample
          %pre
            :preserve
              access-list 1 permit 192.168.0.0 0.0.255.255
              access-list 1 deny   any log
              !
              access-list 100 remark 6to4
              access-list 100 permit 41 any host 192.88.99.1
              access-list 100 permit ip any host 192.88.99.1
              access-list 100 remark others
              access-list 100 permit tcp any eq 0 any eq 0
              access-list 100 permit udp any eq 0 any eq 0
              access-list 100 deny   ip any any log
              !
              access-list 110 remark SPLIT_VPN
              access-list 110 permit ip 192.168.0.0 0.0.255.255 any
              !
              ip access-list extended FA8-OUT
               deny   udp any any eq bootpc
               deny   udp any any eq bootps
               permit tcp host 192.168.3.4 173.30.240.0 0.0.0.255 range 32768 65535
               deny udp 192.168.3.0 0.0.240.255 lt 1024 any eq 80
               remark network access-list remark!!
               permit tcp any any established
               deny tcp any any syn rst
               deny udp any any log-input hoge
               permit ip any any log
              !
            


